.navButton {
    background-color: $white;
    color: $eggplant;
    border: none;
    font-size: 130%;
    margin: 1%;
    cursor: pointer;
    font-family: $poppins-font;
}

.search-button {
    @include card-button('../images/search.png', 60px, $white)
    border: none;
    margin-top: 11px;
    margin-right: 11px;

    &:hover{
      background-image: url('../images/search-hover.png');
      cursor: pointer;
    }
}

.card-button {
  border: none;
  height: 27px;
  margin: 3px;
  cursor: pointer;
}

.card-button:hover,
.navButton:hover {
    @include hover-button($copper-rust)
}

.search-image:active,
.card-button:active,
.navButton:active,
.search-button:active {
    background-color: $off-white;
}

.search-input {
    border: 1px solid $eggplant;
    font-size: 100%;
    height: 7vh;
    margin: 3px 7px 0px 0px;
    padding-left: 10px;
    width: 90%;
    font-family: $poppins-font,
    sans-serif;
    border-radius: 10px;
}


.add-button {
    @include card-button('../images/plus.png', 30px, $copper-rust);
}

.add-active {
    background-image: url('../images/checkmark.png');
}

.favorite {
    @include card-button('../images/star.png', 40px, $copper-rust);
}

.favorite-active {
    background-image: url('../images/star-filled.png');
}

.view-details,
.add-indredients-to-pantry,
.cook-recipe-button {
  background-color: $copper-rust;
  font-family: $raleway-font;
  font-size: 1.25rem;
  font-weight: bold;
  color: $white;
  border: none;
  border-radius: .25rem;
  height: 2.5rem;
  width: 50%;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.add-ingredients-to-pantry {
  @extend .view-details;
  width: 40%;
}
