.card {
    box-shadow: $shadow;
    background-color: $white;
    border-radius: 5px;
    height: 500px;
    overflow: hidden;
    width: 300px;
}

.card-header {
    align-items: center;
    background-color: $copper-rust;
    border-bottom: 1px solid $eggplant;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.info-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 9rem;
    justify-content: space-between;
}

.recipe-name {
    display: block;
    font-size: 150%;
    font-weight: bold;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
    width: 85%;
}

.card-picture {
    height: 300px;
    width: auto;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        border: 2px solid #000;
    }
}