.card {
    box-shadow: 0px 3px 10px 2px $eggplant;
    background-color: $white;
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.card-header {
    height: 50px;
    background-color: $copper-rust;
    border-bottom: 1px solid $eggplant;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}

.recipe-name {
    display: block;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}

.card-picture {
    height: 200px;
    width: 100%;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        border: 2px solid #000;
    }
}
