.recipe-details {
  background-color: $white;
  border-radius: 10px;
  box-shadow: $shadow;
  color: $eggplant;
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow: hidden;
  width: 50vw;
}

.all-recipe-info {
  display: flex;
  height: 60vh;
  justify-content: space-between;
}

.recipe-instructions {
  @include recipe-info(45vw)
}

.recipe-ingredients {
  border-right: 2px solid $eggplant;
  @include recipe-info(30vw)
}

h3 {
  background-color: $copper-rust;
  border-radius: 10px 10px 0px 0px;
  color: $white;
  font-size: 250%;
  margin: 0px;
  padding: 17px;
  text-align: center;
  width: 93%;
}

.instruction-li {
  margin-bottom: 10px;
}

.cook-recipe {
  align-items: center;
  display: flex;
  @extend .recipe-details;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  text-align: center;
  width: 28vw;
}

.cook-it {
  width: 25.75vw;
}

.details-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0;
  width: auto;
}

.details-message {
  font-style: italic;
  margin-bottom: 2rem;
}

.details-missing {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.details-cost {
  margin-bottom: 1rem;
}