.recipe-details {
  display: flex;
  flex-direction: column;
  color: $eggplant;
  height: 60vh;
  width: 80vw;
  background-color: $white;
  border-radius: 10px;
  box-shadow: $shadow;
}

.all-recipe-info {
  display: flex;
  justify-content: space-between;
  height: 80vh;
}

.recipe-instructions {
  @include recipe-info(45vw)
}

.recipe-ingredients {
  @include recipe-info(30vw)
  border-right: 2px solid $eggplant;
  // scrollbar-color: $eggplant;
}

h3 {
  background-color: $copper-rust;
  color: $white;
  text-align: center;
  font-size: 250%;
  margin: 0px;
  padding: 17px;
  border-radius: 10px 10px 0px 0px;
}

.instruction-li {
  margin-bottom: 10px;
}
