$off-white: #FBF9F3;
$white: #FFF;
$copper-rust: #E95E3E;
$eggplant: #51364C;
$sun-yellow: #FAAC18;
$poppins-font: 'Poppins',
sans-serif;
$raleway-font: 'Raleway',
sans-serif;
$shadow: 0px 3px 10px 2px $eggplant;

@mixin hover-button($color) {
  border-bottom: 10px solid $color;
}

@mixin card-button($image, $size, $color) {
  background-color: $color;
  background-image: url($image);
  background-repeat: no-repeat;
  background-position: center;
  height: $size;
  width: $size;
}

@mixin recipe-info($width) {
  height: 42.5vh;
  margin-left: 10px;
  margin-top: .5rem;
  padding: 10px;
  overflow: scroll;
  width: $width;
}