/* 
add button - could change color (when you add - getRecipesToCook function like favorite ones)
favorite button - get rid of border around buttons - border of star that is white and when you fill it, filled with white color
add button - plus rotate to an x when it has been added
*/


$off-white: #FBF9F3;
$white: #FFF;
$copper-rust: #E95E3E;
$eggplant: #51364C;
$sun-yellow: #FAAC18;
$poppins-font: 'Poppins', sans-serif;
$raleway-font: 'Raleway', sans-serif;