@import 'variables';
@import 'buttons';

html {
  background-color: #37515C;
  border: 2px solid #000;
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}


.main-header {
  background-color: #EBF5EE;
  border: 2px solid #000;
  display: flex;
  height: auto;
  justify-content: space-between;
  width: 100%;
}


h1 {
  border-right: 2px solid #000;
  font-size: 255%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: 30%;
}

.user-info {
  font-size: 180%;
  margin: auto;
  text-align: center;
  width: 40%
}

.search-bar {
  display: flex;
  height: 100%;
  margin: 10px 0px 10px 0px;
  width: 30%;
}

.hidden {
  display: none;
}


.all-cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 0 30px 30px;
  width: 95.5vw;
}

img {
  cursor: pointer;
}

.card {
  background-color: #D7F2FE;
  border: 3px solid #000;
  width: 100%;
}


.card-header {
  background-color: #EBF5EE;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
}

.all-recipe-info,
ol {
  color: #EBF5EE;
  font-size: 220%;
  width: 100%;
}

h3 {
  color: #EBF5EE;
  font-size: 250%;
}

.recipe-name {

  display: block;
  font-size: 150%;
  text-align: center;
}

.card-picture:hover {
  opacity: 0.7;
}

.card-picture:active {
  border: 2px solid #000;
}

.card-picture {
  border: 1px solid #000;
  height: 200px;
  margin: 10px 3% 8px 2.6%;
  width: 94%;
}

main {
  background-color: #37515C;
  height: 100%;
  width: 100%;
}

