@import 'variables';
@import 'buttons';
@import 'cards';
@import 'recipe-details';

html {
  border: 2px solid $eggplant;
  height: 100vh;
  color: $eggplant;
  background-color: $off-white;
}

body {
  box-sizing: border-box;
  font-family: $raleway-font;
  margin: auto;
}

main {
  background-color: $off-white;
  height: 100%;
  width: 100%;
}
.main-header {
  background-color: $white;
  box-shadow: 0px -1px 3px 2px $eggplant;
  position: fixed;
  top: 0;
  display: flex;
  height: auto;
  justify-content: space-between;
  width: 100%;
  font-family: $poppins-font;
}

h1 {
  font-size: 255%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  width: 30%;
  color: $sun-yellow;
}

.user-info {
  font-size: 180%;
  margin: auto;
  text-align: center;
  width: 40%;
  font-style: italic;
}

.search-bar {
  display: flex;
  height: 100%;
  margin: 10px 0px 10px 0px;
  width: 30%;
}

.hidden {
  display: none;
}

.all-cards {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 0 30px 30px;
  width: 80vw;
  margin: auto;
  margin-top: 7rem;
}

.all {
  grid-gap: 0px;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  height: 80vh;
  margin-top: 9rem;
}
