@import 'variables';
@import 'buttons';
@import 'cards';
@import 'recipe-details';
@import 'normalize.css';

html {
  background-color: $off-white;
  color: $eggplant;
}

body {
  box-sizing: border-box;
  font-family: $raleway-font;
  margin: auto;
}

main {
  background-color: $off-white;
  height: 100%;
  width: 100%;
}

.main-header {
  background-color: $white;
  box-shadow: 0px -1px 3px 2px $eggplant;
  display: flex;
  font-family: $poppins-font;
  height: auto;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  color: $sun-yellow;
  font-size: 255%;
  margin: auto;
  padding-top: 10px;
  text-align: center;
  width: 30%;
  font-weight: bold;
}

.user-info {
  font-size: 180%;
  font-style: italic;
  margin: auto;
  margin-top: 185px;
  text-align: center;
  width: 40%;
}

.search-bar {
  display: flex;
  height: 100%;
  margin: 10px 0px;
  width: 30%;
}

.hidden {
  display: none;
}

.all-cards {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: auto;
  margin-top: 7rem;
  justify-items: center;
  column-gap: 1rem;
  padding: 30px;
}

.all {
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  height: 70vh;
  margin-top: 9rem;
}

// TABLETS

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .all-cards {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 8px;
    width: 70%;
  }

  .card {
    margin: auto;
    margin-top: 0;
  }

  .navButton {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 1.25rem;
    margin: auto;
    width: 22%;
  }

  .search-bar {
    width: 50%;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    align-items: center;
  }

  .search-input {
    height: 3.5vh;
  }

  .search-button {
    background-size: 40px;
    margin: auto;
    margin-right: 3px;
  }

  .user-info {
    font-size: 2rem;
    margin: auto;
    margin-top: 8rem;
    width: 80%;
  }

  .cook-recipe {
    width: 90%;
  }

  .recipe-details {
    width: 90%;
  }

  .all {
    grid-template-columns: 1fr;
  }

  h3 {
    width: 95%;
  }

}

// MOBILE

@media screen and (max-width: 600px) {
  .all-cards {
    grid-template-columns: 1fr;
    margin: auto;
    margin-top: 0;
  }

  .card {
    margin: auto;
  }

  .card-picture {
    width: 100%;
  }

  .navButton {
    display: none;
    font-size: .80rem;
  }


  h1 {
    font-size: 1.5rem;
    margin: auto;
    width: 22%;
  }

  .search-bar {
    align-items: center;
    font-size: .65rem;
    margin: auto;
    padding: 1px;
    text-align: center;
    width: 60%;
  }

  .search-button {
    background-size: 40px;
    margin: auto;
    margin-right: 3px;
  }

  .search-input {
    height: 5vh;
  }

  .user-info {
    font-size: 1rem;
    margin: auto;
    margin-top: 6rem;
    width: 80%;
  }

  .hamburger {
    align-items: center;
    display: flex;
    flex-direction: column;
    @include card-button('../images/hamburger.png', 60px, $white);
    z-index: 2;
  }

  .hamburger:hover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }

  .hamburger-content {
    background-color: $white;
    border-bottom-right-radius: .25em;
    border-bottom-left-radius: .25em;
    color: $eggplant;
    cursor: pointer;
    height: auto;
    margin-left: 28px;
    margin-top: 61px;
    width: auto;
  }

  .dropdown-item {
    border: none;
    font-size: 1em;
    line-height: 30px;
    padding: .35em;
  }

  .dropdown-item:hover {
    box-shadow: inset 0px 0px 4px;
  }

  .recipe-details {
    width: 90%;
  }

}